{% load chat_extras %}
{% if messages %}
    {% for message in messages %}
        {% include 'chat/single_message.html' %}

    {% endfor %}
{% else %}
    <div id="empty-chat"
         class="flex flex-col items-center justify-center h-full opacity-60 py-10 text-center select-none">

        <div class="bg-gray-400 p-4 rounded-full mb-3 shadow-sm dark:bg-gray-200">
             <svg xmlns="http://www.w3.org/2000/svg"
                 class="w-8 h-8 text-gray-100"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />

            <svg xmlns="http://www.w3.org/2000/svg"
                 class="w-8 h-8 text-gray-600 dark:text-gray-600"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
            </svg>
        </div>

        <p class="text-sm font-medium text-gray-600 dark:text-gray-100">
            Brak wiadomości. Napisz coś!
        </p>
    </div>
{% endif %}
