{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="min-h-[80vh] flex items-center justify-center  bg-gray-100 px-4 dark:bg-gray-900 transition-colors duration-200">

            <div class="max-w-md w-full bg-white p-8 rounded-2xl shadow-xl dark:bg-gray-900 dark:border-gray-800
            transition-colors duration-200 border border-gray-100">

                        <div class="flex justify-center mb-6">
                            <div class="w-16 h-16 rounded-2xl bg-linear-to-tr from-blue-600 to-blue-400
                            flex items-center justify-center shadow-lg rotate-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-white"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                                </svg>
                            </div>
                        </div>
                <h1 class="text-3xl font-bold text-gray-900 mb-6 text-center dark:text-gray-100">Witamy! <br></h1>
                <h2 class="text-2xl font-bold text-gray-900 mb-6 text-center dark:text-gray-100">Stwórz konto</h2>

        <form method="POST" class="space-y-5">
            {% csrf_token %}

            {% for field in form %}
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1 p-3 dark:text-gray-300">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-red-500 text-xs mt-1 dark:text-red-400">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit"
                    class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg
                    transition-all transform active:scale-[0.98] shadow-lg shadow-blue-100 mt-4">
                Zarejestruj się
            </button>
        </form>

        <p class="pt-6 text-center text-sm border-t text-gray-600 mt-6 dark:text-gray-400">
            Masz już konto? <a href="{% url 'login' %}" class="text-blue-600 hover:underline font-medium">Zaloguj się</a>
        </p>
    </div>
</div>
{% endblock %}
